fastapi>=0.100.0,<0.110.0
uvicorn>=0.20.0,<0.30.0
sqlalchemy>=2.0.0,<2.1.0
pydantic>=2.7.0
openai>=1.0.0,<2.0.0
python-dotenv>=1.0.0
psycopg2-binary>=2.9.0
python-multipart==0.0.6 #
pandas>=2.0.0 #
openpyxl>=3.1.0 #
